In [4]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine
import re
import getpass
import seaborn as sb
import scipy.stats as stats
import os #we will use the function listdir to list files in a folder
import math #to apply absolute value
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error


df = pd.read_csv(r'C:\Users\galrodri\Documents\GitHub\Ironhack_Fifa21\international_matches.csv')
df.head()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(23921, 25)

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
home_team_fifa_rank,23921.0,77.854688,52.355225,1.0,33.0,71.0,115.0,211.0
away_team_fifa_rank,23921.0,80.797375,53.232902,1.0,36.0,73.0,119.0,211.0
home_team_total_fifa_points,23921.0,323.401488,500.825725,0.0,0.0,0.0,547.0,2164.0
away_team_total_fifa_points,23921.0,315.453576,490.944273,0.0,0.0,0.0,523.0,2164.0
home_team_score,23921.0,1.609214,1.630127,0.0,0.0,1.0,2.0,31.0
away_team_score,23921.0,1.068266,1.263944,0.0,0.0,1.0,2.0,21.0
home_team_goalkeeper_score,8379.0,74.963838,8.212242,47.0,70.0,75.0,81.0,97.0
away_team_goalkeeper_score,8095.0,74.212477,8.225919,47.0,69.0,74.0,80.0,97.0
home_team_mean_defense_score,7787.0,74.903249,6.003114,52.8,71.0,75.2,78.8,91.8
home_team_mean_offense_score,8510.0,75.818743,6.268416,53.3,71.7,75.7,80.0,93.0
home_team_mean_midfield_score,8162.0,75.889292,6.053110,54.2,72.5,76.2,79.5,93.2
away_team_mean_defense_score,7564.0,74.424379,5.937425,52.8,70.5,74.5,78.2,91.8
away_team_mean_offense_score,8312.0,75.420019,6.201906,53.3,71.3,75.3,79.7,93.0
away_team_mean_midfield_score,7979.0,75.259143,6.124573,54.2,71.8,75.5,79.0,93.2

In [7]:
df.columns = map(lambda x: x.lower().replace("-", "_").replace(" ", "_"), df.columns) # lowering headers
print(df.columns)

Index(['date', 'home_team', 'away_team', 'home_team_continent',
       'away_team_continent', 'home_team_fifa_rank', 'away_team_fifa_rank',
       'home_team_total_fifa_points', 'away_team_total_fifa_points',
       'home_team_score', 'away_team_score', 'tournament', 'city', 'country',
       'neutral_location', 'shoot_out', 'home_team_result',
       'home_team_goalkeeper_score', 'away_team_goalkeeper_score',
       'home_team_mean_defense_score', 'home_team_mean_offense_score',
       'home_team_mean_midfield_score', 'away_team_mean_defense_score',
       'away_team_mean_offense_score', 'away_team_mean_midfield_score'],
      dtype='object')

In [8]:
df.dtypes

date                              object
home_team                         object
away_team                         object
home_team_continent               object
away_team_continent               object
home_team_fifa_rank                int64
away_team_fifa_rank                int64
home_team_total_fifa_points        int64
away_team_total_fifa_points        int64
home_team_score                    int64
away_team_score                    int64
tournament                        object
city                              object
country                           object
neutral_location                    bool
shoot_out                         object
home_team_result                  object
home_team_goalkeeper_score       float64
away_team_goalkeeper_score       float64
home_team_mean_defense_score     float64
home_team_mean_offense_score     float64
home_team_mean_midfield_score    float64
away_team_mean_defense_score     float64
away_team_mean_offense_score     float64
away_team_mean_midfield_score    float64
dtype: object

In [9]:
df.isna().sum()

date                                 0
home_team                            0
away_team                            0
home_team_continent                  0
away_team_continent                  0
home_team_fifa_rank                  0
away_team_fifa_rank                  0
home_team_total_fifa_points          0
away_team_total_fifa_points          0
home_team_score                      0
away_team_score                      0
tournament                           0
city                                 0
country                              0
neutral_location                     0
shoot_out                            0
home_team_result                     0
home_team_goalkeeper_score       15542
away_team_goalkeeper_score       15826
home_team_mean_defense_score     16134
home_team_mean_offense_score     15411
home_team_mean_midfield_score    15759
away_team_mean_defense_score     16357
away_team_mean_offense_score     15609
away_team_mean_midfield_score    15942
dtype: int64

In [14]:
df['home_team_goalkeeper_score'].fillna(df['home_team_goalkeeper_score'].mean(), inplace=True)
df['away_team_goalkeeper_score'].fillna(df['away_team_goalkeeper_score'].mean(), inplace=True)
df['home_team_mean_defense_score'].fillna(df['home_team_mean_defense_score'].mean(), inplace=True)
df['home_team_mean_offense_score'].fillna(df['home_team_mean_offense_score'].mean(), inplace=True)
df['home_team_mean_midfield_score'].fillna(df['home_team_mean_midfield_score'].mean(), inplace=True)
df['away_team_mean_defense_score'].fillna(df['away_team_mean_defense_score'].mean(), inplace=True)
df['away_team_mean_offense_score'].fillna(df['away_team_mean_offense_score'].mean(), inplace=True)
df['away_team_mean_midfield_score'].fillna(df['away_team_mean_midfield_score'].mean(), inplace=True)

In [15]:
df.isna().sum()

date                             0
home_team                        0
away_team                        0
home_team_continent              0
away_team_continent              0
home_team_fifa_rank              0
away_team_fifa_rank              0
home_team_total_fifa_points      0
away_team_total_fifa_points      0
home_team_score                  0
away_team_score                  0
tournament                       0
city                             0
country                          0
neutral_location                 0
shoot_out                        0
home_team_result                 0
home_team_goalkeeper_score       0
away_team_goalkeeper_score       0
home_team_mean_defense_score     0
home_team_mean_offense_score     0
home_team_mean_midfield_score    0
away_team_mean_defense_score     0
away_team_mean_offense_score     0
away_team_mean_midfield_score    0
dtype: int64

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
home_team_fifa_rank,23921.0,77.854688,52.355225,1.0,33.000000,71.000000,115.000000,211.0
away_team_fifa_rank,23921.0,80.797375,53.232902,1.0,36.000000,73.000000,119.000000,211.0
home_team_total_fifa_points,23921.0,323.401488,500.825725,0.0,0.000000,0.000000,547.000000,2164.0
away_team_total_fifa_points,23921.0,315.453576,490.944273,0.0,0.000000,0.000000,523.000000,2164.0
home_team_score,23921.0,1.609214,1.630127,0.0,0.000000,1.000000,2.000000,31.0
away_team_score,23921.0,1.068266,1.263944,0.0,0.000000,1.000000,2.000000,21.0
home_team_goalkeeper_score,23921.0,74.963838,4.860169,47.0,74.963838,74.963838,74.963838,97.0
away_team_goalkeeper_score,23921.0,74.212477,4.785039,47.0,74.212477,74.212477,74.212477,97.0
home_team_mean_defense_score,23921.0,74.903249,3.424942,52.8,74.903249,74.903249,74.903249,91.8
home_team_mean_offense_score,23921.0,75.818743,3.738664,53.3,75.818743,75.818743,75.818743,93.0
home_team_mean_midfield_score,23921.0,75.889292,3.535653,54.2,75.889292,75.889292,75.889292,93.2
away_team_mean_defense_score,23921.0,74.424379,3.338602,52.8,74.424379,74.424379,74.424379,91.8
away_team_mean_offense_score,23921.0,75.420019,3.655706,53.3,75.420019,75.420019,75.420019,93.0
away_team_mean_midfield_score,23921.0,75.259143,3.537059,54.2,75.259143,75.259143,75.259143,93.2

In [18]:
df.to_csv(r'C:\Users\galrodri\Documents\GitHub\Ironhack_Fifa21\cleaned_data_world_cup_matches.csv')